/*div {*/
/*    border: 1px solid #dddddd;*/
/*}*/


#chunk-main {
    position: absolute;
    top: 1%;
    right: 1%;
    left: 1%;
    bottom: 1%;
    border: 1px solid #dddddd;
}

.chunk-card {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 25%;
    height: 80%;
    border: 1px solid #dddddd;
}

.chunk-card-head {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    border: 1px solid #dddddd;
}

.chunk-card-body {
    position: absolute;
    overflow: auto;
    top: 10%;
    height: 80%;
    width: 100%;
    border: 1px solid #dddddd;
}

.chunk-card-body::-webkit-scrollbar{
    display: none;
}

.chunk-card-foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    border: 1px solid #dddddd;
}

.chunk-card-foot input {
    position: absolute;
    left: 5%;
    top: 15%;
    height: 70%;
    width: 70%;
    border: 1px solid #dddddd;
}

.chunk-card-foot button {
    position: absolute;
    right: 5%;
    top: 15%;
    height: 70%;
    width: 15%;
    border: 1px solid #dddddd;
}

.chunk-card-body .item {
    margin: 2%;
    /*position: absolute;*/
    height: 50px;
    width: 96%;
    border: 1px solid #dddddd;
}

.item .img {
    width:fit-content;
    position: absolute;
    right: 3%;
    height: 50px;
    display: flex;
    align-items: center
}

.item img {
    width: 30px;
    height: 30px;
}

.item .text {
    line-height:50px;
    position: absolute;
    height: 50px;
    text-indent: 15px;
}





/*border: 1px solid #1dc072;*/

