body {
    height: 100vh;
}

#form {
    height: 77.5%;
    overflow: auto;
}

#page-div {
    height: 5%;
    position: fixed;
    top: 92.5%;
    width: 100%;
}

#page-text {
    line-height: 60px;
    font-size: 20px;
}

#page {
    position: absolute;
    right: 5%;
    font-size: 35px;
}

#page-div input {
    font-size: 20px;
    height: 30px;
    width: 80px;
}

.dropupButton {
    width: 150px;
    height: 40px;
}

table {
    font-size: 18px;
}

td {
    height: 47px;
}

#course-form td {
    height: 100px;
}

#markDiv {
    background-color: #ffffff;
    position: relative;
    top: -10px;
    right: 110px;
    width: 200px;
    height: 170px;
    margin: 0 auto;
    text-align:center;
    display: none;
    border: 1px solid #000000;
}

#collegeCareer {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 47%;
    padding: 20px;
        /*left: 0;*/
    /*bottom: 0;*/
    width: 20%;
    margin: 0 auto;
    /*text-align:center;*/
    /*display: none;*/
    border: 1px solid #000000;
}

#head div{
    background-color: #ffffff;
    position: absolute;
    width: 50%;
    height: 5%;
    top: 0;
    margin: 0 auto;
    border: 1px solid #dee2e6;
}

#admin, #choice, #careerCheckbox, #courseCheckbox {
    background-color: #ffffff;
    position: absolute;
    width: 25%;
    height: 95%;
    top: 5%;
    margin: 0 auto;
    border: 1px solid #dee2e6;
}


