h1 {
    font-size: 40px;
}

div {
    position: absolute;
    border: 1px solid #aaaaaa;
    background-color: #fff;
}

#visual1 {
    width: 20%;
    height:41%;
    top:33%;
    left: 1%;
    z-index: 1;
}
#visual2 {
    width: 30%;
    height:50%;
    top:26%;
    left: 7%;
    z-index: 2;
}
#visual3 {
    width: 40%;
    height:60%;
    top:20%;
    left: 15%;
    z-index: 3;
}
#visual4 {
    width: 50%;
    height:71%;
    top:15%;
    left: 25%;
    right: 25%;
    z-index: 4;
}
#visual5 {
    width: 40%;
    height:60%;
    top:20%;
    right: 15%;
    z-index: 3;
}
#visual6 {
    width: 30%;
    height:50%;
    top:26%;
    right: 7%;
    z-index: 2;
}
#visual7 {
    width: 20%;
    height:41%;
    top:33%;
    right: 1%;
    z-index: 1;
}
#text {
    height: 10%;
    width: 60%;
    left: 20%;
    bottom: 2%;
    font-size: 20px;
    text-align: center;
}

button {
    position: absolute;
    top: 10%;
    right: 4%;
}

#title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    width: 100%;
    height: 10%;
    top: 2%;
}

