<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.netinnet.coursearrange.mapper.NinArrangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.netinnet.coursearrange.entity.NinArrange">
        <id column="id" property="id" />
        <result column="career_id" property="careerId" />
        <result column="class_id" property="classId" />
        <result column="teacher_id" property="teacherId" />
        <result column="teach_class_id" property="teachClassId" />
        <result column="course_id" property="courseId" />
        <result column="house_id" property="houseId" />
        <result column="must" property="must" />
        <result column="weekly" property="weekly" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="week" property="week" />
        <result column="pitch_num" property="pitchNum" />
        <result column="people_num" property="peopleNum" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user_id" property="modifyUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, career_id, class_id, teacher_id, teach_class_id, course_id, house_id, must, weekly, start_time, end_time, week, pitch_num, people_num, del_flag, create_time, create_user_id, modify_time, modify_user_id
    </sql>


        <insert id="addBatch" parameterType="cn.netinnet.coursearrange.entity.NinArrange">
            INSERT INTO
            nin_arrange(id, career_id, class_id, teacher_id, teach_class_id, course_id, house_id, must, weekly, start_time, end_time, week, pitch_num, people_num, create_user_id, modify_user_id)
            VALUES
            <foreach collection="list" index="index" item="item" separator=",">
                (#{item.id}, #{item.careerId}, #{item.classId}, #{item.teacherId}, #{item.teachClassId}, #{item.courseId}, #{item.houseId}, #{item.must}, #{item.weekly}, #{item.startTime}, #{item.endTime}, #{item.week}, #{item.pitchNum}, #{item.peopleNum}, #{item.createUserId}, #{item.modifyUserId})
            </foreach>
        </insert>

</mapper>
