<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.netinnet.coursearrange.mapper.NinArrangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.netinnet.coursearrange.entity.NinArrange">
        <id column="id" property="id" />
        <result column="class_id" property="classId" />
        <result column="classes_id" property="classesId" />
        <result column="teacher_id" property="teacherId" />
        <result column="course_id" property="courseId" />
        <result column="house_id" property="houseId" />
        <result column="must" property="must" />
        <result column="weekly" property="weekly" />
        <result column="start_weekly" property="startWeekly" />
        <result column="end_weekly" property="endWeekly" />
        <result column="week" property="week" />
        <result column="pitch_num" property="pitchNum" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user_id" property="modifyUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, class_id, classes_id, teacher_id, course_id, house_id, must, weekly, start_weekly, end_weekly, week, pitch_num, del_flag, create_time, create_user_id, modify_time, modify_user_id
    </sql>

    <insert id="addBatch" parameterType="cn.netinnet.coursearrange.entity.NinArrange">
        INSERT INTO
        nin_arrange(id, class_id, classes_id, teacher_id, course_id, house_id, must, weekly, start_weekly, end_weekly, week, pitch_num, create_user_id, modify_user_id)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.classId}, #{item.classesId}, #{item.teacherId}, #{item.courseId}, #{item.houseId}, #{item.must}, #{item.weekly}, #{item.startWeekly}, #{item.endWeekly}, #{item.week}, #{item.pitchNum}, #{item.createUserId}, #{item.modifyUserId})
        </foreach>
    </insert>

    <select id="getInfo" resultType="java.util.Map">
        SELECT class_id AS classId,
               classes_id AS classesId,
               class_name AS className,
               teacher_name AS teacherName,
               course_name AS courseName,
               house_name AS houseName,
               nin_arrange.must AS must,
               weekly,
               start_weekly AS startWeekly,
               end_weekly AS endWeekly,
               week,
               pitch_num AS pitchNum
        FROM nin_class,
             nin_teacher,
             nin_course,
             nin_house,
             nin_arrange,
             nin_classes
        WHERE nin_arrange.del_flag = 0
        AND nin_class.id = nin_arrange.class_id
        AND nin_teacher.id = nin_arrange.teacher_id
        AND nin_course.id = nin_arrange.course_id
        AND nin_house.id = nin_arrange.house_id
        <if test="teacherId != null">
            AND nin_arrange.teacher_id = #{teacherId}
        </if>
        <if test="classesIdList != null">
            AND (
            <foreach collection="classesIdList" index="index" item="item" separator="OR">
                nin_arrange.classes_id = #{item}
            </foreach>
            )
        </if>
        <if test="classIdList != null">
            AND (
            <foreach collection="classIdList" index="index" item="item" separator="OR">
                nin_arrange.class_id = #{item}
            </foreach>
            )
        </if>
    </select>

</mapper>
