<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.netinnet.coursearrange.mapper.NinArrangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.netinnet.coursearrange.entity.NinArrange">
        <id column="id" property="id" />
        <result column="career_id" property="careerId" />
        <result column="class_id" property="classId" />
        <result column="teacher_id" property="teacherId" />
        <result column="teach_class_id" property="teachClassId" />
        <result column="course_id" property="courseId" />
        <result column="house_id" property="houseId" />
        <result column="must" property="must" />
        <result column="weekly" property="weekly" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="week" property="week" />
        <result column="pitch_num" property="pitchNum" />
        <result column="people_num" property="peopleNum" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user_id" property="modifyUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, career_id, class_id, teacher_id, teach_class_id, course_id, house_id, must, weekly, start_time, end_time, week, pitch_num, people_num, del_flag, create_time, create_user_id, modify_time, modify_user_id
    </sql>

    <!-- 批量添加 -->
    <insert id="addBatch" parameterType="cn.netinnet.coursearrange.entity.NinArrange">
        INSERT INTO
        nin_arrange(id, career_id, class_id, teacher_id, teach_class_id, course_id, house_id, must, weekly, start_time, end_time, week, pitch_num, people_num, create_user_id, modify_user_id)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.careerId}, #{item.classId}, #{item.teacherId}, #{item.teachClassId}, #{item.courseId}, #{item.houseId}, #{item.must}, #{item.weekly}, #{item.startTime}, #{item.endTime}, #{item.week}, #{item.pitchNum}, #{item.peopleNum}, #{item.createUserId}, #{item.modifyUserId})
        </foreach>
    </insert>

    <!-- 条件查询课表信息 -->
    <select id="getInfo" resultType="java.util.Map">
        SELECT career_id AS careerId,
               class_id AS classId,
               teach_class_id AS teachClassId,
               teacher_name AS teacherName,
               course_name AS courseName,
               house_name AS houseName,
               nin_arrange.must AS must,
               weekly,
               nin_arrange.start_time AS startTime,
               nin_arrange.end_time AS endTime,
               week,
               pitch_num AS pitchNum,
               people_num AS peopleNum
        FROM nin_teacher,
             nin_course,
             nin_house,
             nin_arrange
        <where>
        nin_arrange.del_flag = 0
        AND nin_teacher.id = nin_arrange.teacher_id
        AND nin_course.id = nin_arrange.course_id
        AND nin_house.id = nin_arrange.house_id
        <if test="teacherId != null">
            AND nin_arrange.teacher_id = #{teacherId}
        </if>
        <if test="teachClassIdList != null or classIdList != null">
            AND (
            <if test="teachClassIdList != null">
                <foreach collection="teachClassIdList" index="index" item="item1" separator="OR" >
                    nin_arrange.teach_class_id = #{item1}
                </foreach>
            </if>
            <if test="teachClassIdList != null and classIdList != null">
                OR
            </if>
            <if test="classIdList != null">
                <foreach collection="classIdList" index="index" item="item2" separator="OR">
                    nin_arrange.class_id = #{item2}
                </foreach>
            </if>
            )
        </if>
       </where>
    </select>


    <select id="getSelectList" parameterType="cn.netinnet.coursearrange.bo.NinArrangeBo" resultType="java.util.Map">
        SELECT
        nin_arrange.id AS id,
        career_name AS careerName,
        IFNULL((SELECT class_name FROM nin_class WHERE nin_class.id = nin_arrange.class_id),
                (SELECT GROUP_CONCAT(class_name SEPARATOR ';')
                    FROM nin_teach_class, nin_class
                    WHERE nin_arrange.teach_class_id = nin_teach_class.teach_class_id
                    AND nin_teach_class.class_id = nin_class.id))
        AS className,
        IFNULL(teacher_name, "暂无") AS teacherName,
        teacher_id AS teacherId,
        course_name AS courseName,
        IFNULL(house_name, "暂无") AS houseName,
        house_id AS houseId,
        nin_arrange.must AS must,
        weekly,
        nin_arrange.start_time AS startTime,
        nin_arrange.end_time AS endTime,
        week,
        pitch_num AS pitchNum
        FROM (((nin_arrange LEFT JOIN nin_teacher ON nin_arrange.teacher_id = nin_teacher.id)
            LEFT JOIN nin_house ON nin_arrange.house_id = nin_house.id)
            INNER JOIN nin_course ON nin_arrange.course_id = nin_course.id)
            INNER JOIN nin_career On nin_arrange.career_id = nin_career.id
        WHERE
        nin_arrange.del_flag = 0
        <if test="teachClassIdList != null">
            AND(
            <foreach collection="teachClassIdList" index="index" item="item" separator="OR" >
                nin_arrange.teach_class_id = #{item}
            </foreach>
            )
        </if>
        <if test="careerId != null">
            AND career_id = #{careerId}
        </if>
        <if test="week != null">
            AND week = #{week}
        </if>
        <if test="pitchNum != null">
            AND pitch_num = #{pitchNum}
        </if>
        <if test="classId != null">
            AND class_id = #{classId}
        </if>
        <if test="teacherName != null and teacherName != ''">
            AND teacher_name LIKE CONCAT('%',#{teacherName},'%')
        </if>
        <if test="houseName != null and houseName != ''">
            AND house_name LIKE CONCAT('%',#{houseName},'%')
        </if>
        <if test="courseName != null and courseName != ''">
            AND course_name LIKE CONCAT('%',#{courseName},'%')
        </if>
        ORDER BY nin_arrange.must, nin_arrange.career_id, nin_arrange.course_id, teach_class_id, week, pitch_num
    </select>

    <select id="getSelectNull">
        SELECT
            nin_arrange.id AS id,
            career_name AS careerName,
            IFNULL((SELECT class_name FROM nin_class WHERE nin_class.id = nin_arrange.class_id),
                   (SELECT GROUP_CONCAT(class_name SEPARATOR ';')
                    FROM nin_teach_class, nin_class
                    WHERE nin_arrange.teach_class_id = nin_teach_class.teach_class_id
                      AND nin_teach_class.class_id = nin_class.id))
                           AS className,
            teacher_name AS teacherName,
            teacher_id AS teacherId,
            course_name AS courseName,
            house_name AS houseName,
            house_id AS houseId,
            nin_arrange.must AS must,
            weekly,
            nin_arrange.start_time AS startTime,
            nin_arrange.end_time AS endTime,
            week,
            pitch_num AS pitchNum
        FROM (((nin_arrange LEFT JOIN nin_teacher ON nin_arrange.teacher_id = nin_teacher.id)
            LEFT JOIN nin_house ON nin_arrange.house_id = nin_house.id)
            INNER JOIN nin_course ON nin_arrange.course_id = nin_course.id)
                 INNER JOIN nin_career On nin_arrange.career_id = nin_career.id
        WHERE (nin_arrange.teacher_id IS NULL
           OR nin_arrange.house_id IS NULL
           OR nin_arrange.weekly IS NULL
           OR nin_arrange.week IS NULL
           OR nin_arrange.pitch_num IS NULL)
           <if test="must != null">
                AND nin_arrange.must = #{must}
           </if>
    </select>

    <select id="getAvailable" resultType="cn.netinnet.coursearrange.entity.NinArrange">
        SELECT *
        FROM nin_arrange
        <where>
            <if test="teacherId != null or houseId != null">
                <if test="teacherId != null">
                    OR teacher_id = #{teacherId}
                </if>
                <if test="houseId != null">
                    OR house_id = #{houseId}
                </if>
            </if>
        </where>
    </select>

</mapper>
