<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.netinnet.coursearrange.mapper.NinStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.netinnet.coursearrange.entity.NinStudent">
        <id column="id" property="id" />
        <result column="student_name" property="studentName" />
        <result column="student_code" property="studentCode" />
        <result column="student_password" property="studentPassword" />
        <result column="class_id" property="classId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user_id" property="modifyUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_name, student_code, student_password, class_id, del_flag, create_time, create_user_id, modify_time, modify_user_id
    </sql>

    <select id="getSelectList" resultType="java.util.Map">
        SElECT nin_student.id AS id,
                student_name AS studentName,
                student_code AS studentCode,
                student_password AS studentPassword,
                class_id AS classId,
                class_name AS className
        FROM nin_student, nin_class
        WHERE nin_student.del_flag = 0
        AND nin_student.class_id = nin_class.id
        <if test="studentName != null and studentName != ''">
            AND student_name LIKE CONCAT('%',#{studentName},'%')
        </if>
        <if test="studentName != null and studentName != ''">
            AND student_code LIKE CONCAT('%',#{studentName},'%')
        </if>
        <if test="list != null">
            AND (
            <foreach collection="list" index="index" item="item" separator="OR">
                nin_student.class_id = #{item}
            </foreach>
            )
        </if>


    </select>
</mapper>
