<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.netinnet.coursearrange.mapper.NinTeachClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.netinnet.coursearrange.entity.NinTeachClass">
        <result column="teach_class_id" property="teachClassId" />
        <result column="class_id" property="classId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user_id" property="modifyUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        teach_class_id, class_id, del_flag, create_time, create_user_id, modify_time, modify_user_id
    </sql>

    <insert id="addBatch" parameterType="cn.netinnet.coursearrange.entity.NinTeachClass">
        INSERT INTO
        nin_arrange(teach_class_id, class_id, create_user_id, modify_user_id)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.teachClassId}, #{item.classId}, #{item.createUserId}, #{item.modifyUserId})
        </foreach>
    </insert>

</mapper>
