<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <script th:src="@{js/require.js}" th:attr="data-main=@{js/js/applyHouse},defer=true"></script>
    <script th:inline="javascript">

    </script>
</head>
<body>
<!--检索查询-->
<div class="border-bottom" style="height: 12%;">
    <span>
        教室名称:
        <input type="text" id="houseName">
    </span>&nbsp;&nbsp;
    <span>
        <button class="btn btn-secondary dropdown-toggle dropupButton" type="button" id="dropupHouseTypeButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            教室类型
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupHouseTypeButton" data-code="">
            <li><a class="dropdown-item" href="javaScript:void(0)" data-code="0">普通教室</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)" data-code="1">机房</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)" data-code="2">实验室</a></li>
        </ul>
    </span>&nbsp;&nbsp;
    <span>
        教室座位数:
        <input type="text" id="seat1" style="width: 70px;">
        —
        <input type="text" id="seat2" style="width: 70px;">
    </span>&nbsp;&nbsp;
    <span>
        周次(必填)
        <input type="number" max="20" min="1" value="1">

    </span>


    <span>
        <button type="button" class="btn btn-info" id="query">查询</button>
        <button type="button" class="btn btn-info" id="reset">重置</button>
    </span>
</div>
<div class="border-bottom" style="height: 3%;">
    选择条件之后查询，点击右侧时间表即可在左侧查看空余的教室,选中时间和教室之后，进行教室申请
</div>


<div id="house-select" class="border-bottom">
    <h1>
        教室
    </h1>
    <p>教室A</p>
    <p>教室B</p>
    <p>教室C</p>
</div>
<div id="time-form">
    <!--        时间表-->
    <table class="table table-sm table-bordered" style="table-layout: fixed">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">星期一</th>
            <th scope="col">星期二</th>
            <th scope="col">星期三</th>
            <th scope="col">星期四</th>
            <th scope="col">星期五</th>
            <th scope="col">星期六</th>
            <th scope="col">星期日</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">第一节课</th>
            <td></td>
            <td></td>
            <td class=" bg-success"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">第二节课</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class=" bg-success"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">第三节课</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">第四节课</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">第五节课</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<div id="apply"  class="border-bottom">
<!--    申请-->
    时间:第一周周三第一节课<br>
    教室:教室A<br>
    班级:xxx/xxx<br>
    教师:xxx<br>
    课程:xxx<br>

    确定申请

</div>


</body>
</html>