<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <script th:src="@{js/require.js}" th:attr="data-main=@{js/js/arrange},defer=true"></script>
    <script th:inline="javascript">

    </script>
</head>
<body>
<!--检索查询-->
<div class="border-bottom" style="height: 7%;">
    <span>
        <button class="btn btn-secondary dropdown-toggle dropupButton" type="button" id="dropupCareerIdButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            专业
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupCareerIdButton">
        </ul>
    </span>&nbsp;&nbsp;
    <span>
        <button class="btn btn-secondary dropdown-toggle dropupButton" type="button" id="dropupClassIdButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            班级
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupClassIdButton">
        </ul>
    </span>&nbsp;&nbsp;
    <span>
        教师名称:
        <input type="text" id="teacherName">
    </span>&nbsp;&nbsp;
    <span>
        教室:
        <input type="text" id="houseName">
    </span>&nbsp;&nbsp;
    <span>
        课程:
        <input type="text" id="courseName">
    </span>&nbsp;&nbsp;

    <span>
        <button type="button" class="btn btn-info" id="query">查询</button>
        <button type="button" class="btn btn-info" id="reset">重置</button>
        <button type="button" class="btn btn-info" id="arrange">自动排课</button>
    </span>
</div>

<!--表格展示-->
<div class="bd-example" id="form">
    <table class="table table-sm table-bordered" style="table-layout: fixed;">
        <thead>
        <tr style="text-align:center;">
            <th scope="col" width="50px">序号</th>
            <th scope="col" width="200px">专业</th>
            <th scope="col" width="160px">班级</th>
            <th scope="col" width="80px">教师</th>
            <th scope="col">课程</th>
            <th scope="col" width="100px">教室</th>
            <th scope="col" width="100px">是否必修</th>
            <th scope="col" width="75px">单双周</th>
            <th scope="col" width="100px">开课时间</th>
            <th scope="col" width="100px">结课时间</th>
            <th scope="col" width="100px">
                <select name="" id="week">
                    <option value="">星期</option>
                    <option value="1">星期一</option>
                    <option value="2">星期二</option>
                    <option value="3">星期三</option>
                    <option value="4">星期四</option>
                    <option value="5">星期五</option>
                    <option value="6">星期六</option>
                    <option value="7">星期日</option>
                </select>
            </th>
            <th scope="col" width="100px">
                <select name="" id="pitchNum">
                    <option value="">节数</option>
                    <option value="1">第一节</option>
                    <option value="2">第二节</option>
                    <option value="3">第三节</option>
                    <option value="4">第四节</option>
                    <option value="5">第五节</option>
                </select>
            </th>
            <th scope="col" width="150px">操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!--分页-->
<div id="page-div" class="row">
    <span id="page-text" class="col-md-3">
          共&nbsp;&nbsp;条数据,&nbsp;&nbsp;&nbsp;页
    </span>
    <span id="page" class="col-md-5">
        <span><button class="btn btn-secondary dropdown-toggle" type="button" id="dropupMenuButton"
                      data-bs-toggle="dropdown" aria-expanded="false">
            X10
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupMenuButton">
            <li><a class="dropdown-item" href="javaScript:void(0)">X10</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)">X20</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)">X30</a></li>
        </ul>
        </span>
        <span>
            <button type="button" class="btn btn-secondary">«</button>
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
            <button type="button" class="btn btn-secondary">5</button>
            <button type="button" class="btn btn-secondary">»</button>
        </span>
        <span>
            <input type="text">
            <button type="button" class="btn btn-secondary">跳转</button>
        </span>
    </span>
</div>


<div id="arrangeAlter">
    <select name="" id="teacherId">

    </select>
    <select name="" id="houseId">

    </select>
    <select name="" id="time">

    </select>

    <div style="position: absolute;width: 200px">
        <button type="button" class="btn btn-info" >查询</button>
        <button type="button" class="btn btn-info" >查询</button>
    </div>

</div>

</body>
</html>