<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <script th:src="@{js/require.js}" th:attr="data-main=@{js/js/careerAdmin},defer=true"></script>
    <script th:inline="javascript">

    </script>
</head>
<body>
<div id="head">
    返回//还没写
</div>
    <div id="admin" style="left: 0;">
<!--        专业管理-->
        <h4>专业管理</h4>

    </div>
    <div id="choice" style="left: 25%;">
<!--        选择-->
        <h4>已选课程</h4>

    </div>
    <div id="careerCheckbox" style="left: 50%;">
<!--        专业选择-->
        <h4>专业选择</h4>
        <input type="checkbox" id="career">
        <label for="career"><h5>全选</h5></label>
        <br>

    </div>
    <div id="courseCheckbox" style="left: 75%;">
<!--        课程选择-->
        <h4>课程选择</h4>
        <button type="button" class="btn btn-info" id="confirm">确定添加</button>
        <br>
        <input type="checkbox" id="course">
        <label for="course"><h5>全选</h5></label>
        <br>

    </div>





</body>
</html>