<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <script th:src="@{js/require.js}" th:attr="data-main=@{js/js/class},defer=true"></script>
</head>
<body>

<!--检索查询-->
<div class="border-bottom" style="height: 7%;">
    <span>
        <button class="btn btn-secondary dropdown-toggle dropupButton" type="button" id="dropupCollegeButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            学院
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupCollegeButton">
        </ul>
    </span>&nbsp;&nbsp;
    <span>
        <button class="btn btn-secondary dropdown-toggle dropupButton" type="button" id="dropupCareerButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            专业
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupCareerButton">
        </ul>
    </span>&nbsp;&nbsp;
    <span>
        班级名称:
        <input type="text" id="className">
    </span>&nbsp;&nbsp;
    <span>
        <button type="button" class="btn btn-info" id="query">查询</button>
        <button type="button" class="btn btn-info" id="reset">重置</button>
        <button type="button" class="btn btn-info" id="addCourse">选课</button>
        <button type="button" class="btn btn-info" id="collegeCareerButton">学院专业管理</button>
        <button type="button" class="btn btn-info" id="addBatchCourse">专业批量新增课程</button>
    </span>

<!--    <span>-->
<!--        <label for='houseType'>教室类型:</label>-->
<!--        <select id='houseType'>-->
<!--            <option value=0>普通教室</option>-->
<!--            <option value=1>机房</option>-->
<!--            <option value=2>新建</option>-->
<!--        </select>-->
<!--    </span>-->
</div>

<!--表格展示-->
<div class="bd-example" id="form">
    <table class="table table-sm table-bordered" style="table-layout: fixed">
        <thead>
        <tr>
            <th scope="col" width="50px">序号</th>
            <th scope="col">学院</th>
            <th scope="col">专业</th>
            <th scope="col">班级名称</th>
            <th scope="col">班级人数</th>
            <th scope="col">课程数</th>
            <th scope="col">
                操作&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-info" id="insert">新建</button>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!--分页-->
<div id="page-div" class="row">
    <span id="page-text" class="col-md-3">
          共&nbsp;&nbsp;条数据,&nbsp;&nbsp;&nbsp;页
    </span>
    <span id="page" class="col-md-5">
        <span><button class="btn btn-secondary dropdown-toggle" type="button" id="dropupMenuButton"
                      data-bs-toggle="dropdown" aria-expanded="false">
            X10
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupMenuButton">
            <li><a class="dropdown-item" href="javaScript:void(0)">X10</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)">X20</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)">X30</a></li>
        </ul>
        </span>
        <span>
            <button type="button" class="btn btn-secondary">«</button>
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
            <button type="button" class="btn btn-secondary">5</button>
            <button type="button" class="btn btn-secondary">»</button>
        </span>
        <span>
            <input type="text">
            <button type="button" class="btn btn-secondary">跳转</button>
        </span>
    </span>
</div>

<div id="collegeCareer">


    <h4>
        &nbsp;
        <img id="mark" th:src="@{img/mark.jpg}" style="position:absolute;right: 20%;" height="25" width="25">
    </h4>
    <h4>xxxxx
        <span>&nbsp;<img class="del" th:src="@{img/mark.jpg}" height="25" width="25">&nbsp;<img class="altar" th:src="@{img/mark.jpg}" height="25" width="25"></span>
    </h4>
    <h4><input type="text" style="width: 100px">
        <span>&nbsp;<img class="del" th:src="@{img/mark.jpg}" height="25" width="25">&nbsp;<img class="altar" th:src="@{img/mark.jpg}" height="25" width="25"></span>
    </h4>



</div>


</body>
</html>