<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--二维课程表-->
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/require.js}" th:attr="data-main=@{/js/js/courseForm},defer=true"></script>
</head>

<body>

<div class="border-bottom" style="height: 5%;">
    <button type="button" class="btn" id="back">返回</button>
    <button type="button" class="btn" id="details">选课</button>
    <button type="button" class="btn disabled" id="formButton">课程表</button>
    <button type="button" class="btn" id="exportForm">课程表导出</button>
    <select name="" id="count" style="">
        <option value=0>学期</option>
        <option value=1>第一周</option>
        <option value=2>第二周</option>
        <option value=3>第三周</option>
        <option value=4>第四周</option>
        <option value=5>第五周</option>
        <option value=6>第六周</option>
        <option value=7>第七周</option>
        <option value=8>第八周</option>
        <option value=9>第九周</option>
        <option value=10>第十周</option>
        <option value=11>第十一周</option>
        <option value=12>第十二周</option>
        <option value=13>第十三周</option>
        <option value=14>第十四周</option>
        <option value=15>第十五周</option>
        <option value=16>第十六周</option>
        <option value=17>第十七周</option>
        <option value=18>第十八周</option>
        <option value=19>第十九周</option>
        <option value=20>第二十周</option>
    </select>
</div>

<div class="bd-example" id="course-form">
    <table class="table table-sm table-bordered" style="table-layout: fixed">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">星期一</th>
            <th scope="col">星期二</th>
            <th scope="col">星期三</th>
            <th scope="col">星期四</th>
            <th scope="col">星期五</th>
            <th scope="col">星期六</th>
            <th scope="col">星期日</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">第一节课</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">第二节课</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">第三节课</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">第四节课</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">第五节课</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>