<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <script th:src="@{js/require.js}" th:attr="data-main=@{js/js/course},defer=true"></script>

</head>
<body>

<!--检索查询-->
<div class="border-bottom" style="height: 7%;">
    <span>
        课程名称:
        <input type="text" id="courseName">
    </span>&nbsp;&nbsp;
    <span>
        <button class="btn btn-secondary dropdown-toggle dropupButton" type="button" id="dropupHouseTypeButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            教室类型
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupHouseTypeButton" data-code="">
            <li><a class="dropdown-item" href="javaScript:void(0)" data-code="0">普通教室</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)" data-code="1">机房</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)" data-code="2">实验室</a></li>
        </ul>
    </span>&nbsp;&nbsp;
    <span>
        <button class="btn btn-secondary dropdown-toggle dropupButton" type="button" id="dropupMustButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            是否必修
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupMustButton" data-code="">
            <li><a class="dropdown-item" href="javaScript:void(0)" data-code="0">选修</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)" data-code="1">必修</a></li>
        </ul>
    </span>&nbsp;&nbsp;
    <span>
        <button type="button" class="btn btn-info" id="query">查询</button>
        <button type="button" class="btn btn-info" id="reset">重置</button>
        <img th:src="@{img/mark.jpg}" height="15" width="15">
    </span>
</div>

<!--表格展示-->
<div class="bd-example" id="form">
    <table class="table table-sm table-bordered" style="table-layout: fixed">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">课程名称</th>
            <th scope="col">教室类型</th>
            <th scope="col">是否选修</th>
            <th scope="col">课时</th>
            <th scope="col">开课时间</th>
            <th scope="col">结课时间</th>
            <th scope="col">上课周数</th>
            <th scope="col">
                操作&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-info" id="insert">新建</button>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!--分页-->
<div id="page-div" class="row">
    <span id="page-text" class="col-md-3">
          共&nbsp;&nbsp;条数据,&nbsp;&nbsp;&nbsp;页
    </span>
    <span id="page" class="col-md-5">
        <span><button class="btn btn-secondary dropdown-toggle" type="button" id="dropupMenuButton"
                      data-bs-toggle="dropdown" aria-expanded="false">
            X10
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropupMenuButton">
            <li><a class="dropdown-item" href="javaScript:void(0)">X10</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)">X20</a></li>
            <li><a class="dropdown-item" href="javaScript:void(0)">X30</a></li>
        </ul>
        </span>
        <span>
            <button type="button" class="btn btn-secondary">«</button>
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
            <button type="button" class="btn btn-secondary">5</button>
            <button type="button" class="btn btn-secondary">»</button>
        </span>
        <span>
            <input type="text">
            <button type="button" class="btn btn-secondary">跳转</button>
        </span>
    </span>
</div>

</body>
</html>