<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/message.css}" rel="stylesheet">
    <script th:src="@{js/require.js}" th:attr="data-main=@{js/js/message},defer=true"></script>

</head>
<body>
<div id="chunk-main">
    <div id="user-info">
        <table>
            <tr style="top: 5%;">
                <td>名称:&nbsp;</td>
                <td></td>
            </tr>
            <tr style="top: 20%;">
                <td>账号:&nbsp;</td>
                <td></td>
            </tr>
            <tr style="top: 35%;">
                <td>旧密码:&nbsp;</td>
                <td>
                    <input type="password" placeholder="不修改则置空">
                </td>
            </tr>
            <tr style="top: 50%;">
                <td>新密码:&nbsp;</td>
                <td>
                    <input type="password" placeholder="不修改则置空">
                </td>
            </tr>
            <tr style="top: 65%;">
                <td>新密码确认:&nbsp;</td>
                <td>
                    <input type="password" placeholder="不修改则置空">
                </td>
            </tr>
            <tr style="top: 80%">
                <td colspan="2" id="but">
                    <button type="button" class="btn btn-success">修改密码</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="msg">
        <div id="msg-body"></div>
        <div id="operate">
            <div class="operate-item" style="height: 110px;">
                <a href="javaScript:void(0)">一键已读</a>
            </div>
            <div class="operate-item" style="height: 110px;">
                <a href="javaScript:void(0)">一键删除</a>
            </div>
            <div class="operate-item" style="height: 100px;">
                <a href="javaScript:void(0)">上一页</a>
            </div>
            <div class="operate-item" style="height: 80px;">
                <a href="javaScript:void(0)">刷新</a>
            </div>
            <div class="operate-item" style="height: 100px;">
                <a href="javaScript:void(0)">下一页</a>
            </div>
            <div id="page-num"></div>
        </div>
    </div>
</div>

</body>
</html>