<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/selectCourse.css}" rel="stylesheet">
    <script th:src="@{js/require.js}" th:attr="data-main=@{js/js/selectCourse},defer=true"></script>

</head>
<body>

<div class="border-bottom" id="bottom-head" style="height: 5%;"></div>

<div id="chunk-main">
    <div class="chunk-card">
        <div class="chunk-card-head">可选课程</div>
        <div class="chunk-card-body"></div>
    </div>
    <div class="chunk-card" style="left: 35%;">
        <div class="chunk-card-head">已选课程</div>
        <div class="chunk-card-body"></div>
    </div>
    <div class="chunk-card" style="left: 65%">
        <div class="chunk-card-head">课程信息</div>
        <div class="chunk-card-body">
            <table>
                <tr>
                    <td>课程名称:&nbsp;</td>
                    <td></td>
                </tr>
                <tr style="top: 15%;">
                    <td>教室类型:&nbsp;</td>
                    <td></td>
                </tr>
                <tr style="top: 30%;">
                    <td>课时:&nbsp;</td>
                    <td></td>
                </tr>
                <tr style="top: 45%;">
                    <td>是否必修:&nbsp;</td>
                    <td></td>
                </tr>
                <tr style="top: 60%;">
                    <td>开始结束周次:&nbsp;</td>
                    <td></td>
                </tr>
                <tr style="top: 75%;">
                    <td>状态:&nbsp;</td>
                    <td></td>
                </tr>
            </table>

        </div>
    </div>
</div>

</body>
</html>