<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <script th:src="@{js/require.js}" th:attr="data-main=@{js/js/teacherCourse},defer=true"></script>
    <script th:inline="javascript">
        var teacherId = [[${teacherId}]];
    </script>
</head>
<body>
<div class="border-bottom" style="height: 5%;">
    <button type="button" class="btn" id="back">返回</button>
    <button type="button" class="btn" id="details">选课</button>
    <button type="button" class="btn" id="formButton">课程表</button>
</div>

<!--表格展示-->
<div class="bd-example" id="form">
    <table class="table table-sm table-bordered" style="table-layout: fixed">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">课程</th>
            <th scope="col">教室类型</th>
            <th scope="col">是否选修</th>
            <th scope="col">课时</th>
            <th scope="col">
                操作&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-info" id="insert">新建</button>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

</body>
</html>