<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script th:src="@{js/require.js}" th:attr="data-main=@{js/js/visual.js},defer=true"></script>
    <script th:inline="javascript">

    </script>
</head>
<body>

<div id="visual1" style="width: 40%;height:50%;position: absolute;"></div>
<div id="visual2" style="width: 30%;height:30%;position: absolute;left: 40%;top: 20%"></div>
<div id="visual3" style="width: 75%;height:50%;position: absolute;bottom: 0;"></div>
<div id="visual4" style="width: 28%;height:80%;position: absolute;right: 2%;top: 20%;"></div>
<div id="visual5" style="width: 60%;height:17%;position: absolute;left: 35%;top: 2%;font-size: 20px;text-indent: 2em;"></div>

</body>
</html>